*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
:root{
  --bgc: rgb(240, 243, 245);
  --dark: rgb(65, 67, 68);
  --darkShadow: rgba(65, 67, 68, 0.3);
  --lightBlue: rgb(115, 135, 155);
  --darkBlue: rgb(44, 53, 61);
  --blue: rgb(20, 131, 235);

}
body{
  background-color: rgb(202, 203, 204);
  font-family: "Roboto", sans-serif;
}
.app{
  width: 100vw;
  height: 100vh;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 1;
  background-color:  var(--bgc);
}

.hidden{
  display: none;
}

header, footer{
  background-color: #fff;
  box-shadow: 0 5px 10px var(--darkShadow) ,0 -5px 10px var(--darkShadow);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vmin;
  min-height: 75px;
  color: var(--lightBlue);
  font-weight: 300;
}
header h1{
  font-weight: 300;
}
header span{
  color: var(--blue);
  font-weight: bold;
}
nav{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: var(--blue);
}

.page{
  height: 100%;
  width: 100%;
}
.page.hiddenPage{
  display: none!important;
}
/* Page home */
#home{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

/* selection tempo */

form{
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 30px;
}
.input-container{
  background-color: none;
  box-shadow: 8px 8px 20px var(--darkShadow), -8px -8px 20px white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.input-container input{
  box-shadow: inset 4px 4px 5px var(--darkShadow),inset -8px -8px 20px white;
  background-color: rgb(241, 241, 241);
  width: 60%;
  height: 60%;
  text-align: center;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  color: var(--darkBlue);
}
/*  plus & moins bouton  */
.tempo-selector-icon{
  cursor: pointer;
  height: 50px;
  width: 50px;
  color: var(--blue);
  opacity: .8;
  transition: .2s ease;
}
.tempo-selector-icon:hover{
  opacity: 1;
}
/* Base selectors */
.base-selectors{
  background-color: none;
  display: flex;
  margin-top: 20px;
  width: 300px;
  justify-content: space-between;
}
.selector{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 3px solid var(--blue);
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  color: var(--blue);
  opacity: .8;
}
.selector.hight-left{
  position: relative;
  top: -45px;
  left: 20px;
}
.selector.hight-right{
  position: relative;
  top: -45px;
  right: 20px;
}
.selector.medium{
  position: relative;
  top: -10px;
}
.selector:hover{
  opacity: 1;
}
.selector:active{
  color: white;
  background-color: var(--blue);
}
.selector.select{
  color: white;
  background-color: var(--blue);
  opacity: 1;
}


.button-container{
  margin-top: auto;
  margin-bottom: auto;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 8px 8px 20px var(--darkShadow), -8px -8px 20px white;
  position: relative;
}
.button-container:after{
  content: "";
  position: absolute;
  z-index: 1;
  width: 70%;
  height: 70%;
  background-color: rgb(241, 241, 241);
  box-shadow: inset 4px 4px 5px var(--darkShadow),inset -8px -8px 20px white;
  border-radius: 50%;
 
}
.button-container .button{
  background: rgb(20,130,235);
background: radial-gradient(circle, rgb(0, 132, 255) 0%, rgb(24, 30, 34) 90%);
  width: 45%;
  height: 45%;
  z-index: 9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 8px 8px 20px rgba(255, 255, 255, 0.2), inset -8px -8px 10px var(--darkShadow);
  cursor: pointer;
}
.button-container .button.beep{
  background: rgb(93, 236, 255);
background: radial-gradient(circle, rgb(52, 231, 255) 0%, rgb(9, 49, 75) 90%);
}
.button-container .button-text{
  position: relative;
  z-index: 10;
  color: #fff;
}