*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h5{
  font-weight: 500;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
:root{
  --bgc: rgb(240, 243, 245);
  --dark: rgb(65, 67, 68);
  --darkShadow: rgba(65, 67, 68, 0.3);
  --lightBlue: rgb(115, 135, 155);
  --darkBlue: rgb(44, 53, 61);
  --blue: rgb(20, 131, 235);

}
body{
  background-color: rgb(202, 203, 204);
  font-family: "Roboto", sans-serif;
}
.app{
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  flex: 1;
  background-color:  var(--bgc);
}

.hidden{
  display: none;
}

header, footer{
  max-width: 750px;
  max-height: 80px;
  position:fixed;
  z-index: 50;
  background-color: #fff;
  box-shadow: 0 5px 10px var(--darkShadow) ,0 -5px 10px var(--darkShadow);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vmin;
  min-height: 75px;
  color: var(--lightBlue);
  font-weight: 300;
}
header h1{
  font-weight: 300;
}
header span{
  color: var(--blue);
  font-weight: bold;
}
header{
  top: 0;
}
footer{

  bottom: 0;
}
nav{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: var(--blue);
}

.page{
  height: 100%;
  width: 100%;
  transition: .3s ease-in-out!important;
}
.page.hiddenPage{
  display: none!important;
}
/* ================================================ */
/* Page home */
/* ================================================ */
#home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

/* selection tempo */

#home form{
  border-radius: 50%;
  display: flex;
  align-items: center;
  }
.input-container{
  background-color: none;
  box-shadow: 8px 8px 20px var(--darkShadow), -8px -8px 20px white;
  height: 40vw;
  max-height: 200px;
  width: 40vw;
  max-width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.input-container input{
  box-shadow: inset 4px 4px 5px var(--darkShadow),inset -8px -8px 20px white;
  background-color: rgb(241, 241, 241);
  width: 60%;
  height: 60%;
  text-align: center;
  border-radius: 50%;
  border: none;
  font-size: 1.8rem;
  color: var(--darkBlue);
}
/*  plus & moins bouton  */
.tempo-selector-icon{
  cursor: pointer;
  height: 50px;
  width: 50px;
  color: var(--blue);
  opacity: .8;
  transition: .2s ease;
}
.tempo-selector-icon:hover{
  opacity: 1;
}
/* Base selectors */
.base-selectors{
  background-color: none;
  display: flex;
  width: 290px;
  box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.15), -5px -5px 15px white;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  height: 60px;
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.selector{
  box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.15), -5px -5px 15px white;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 500;
  color: var(--lightBlue);
}

.selector:hover{
  background-color: #e0e0e0;
}
.selector:active{

}
.selector.select{
  box-shadow:  8px 8px 20px var(--darkShadow), -8px -8px 20px white, inset 4px 4px 5px var(--darkShadow),inset -8px -8px 20px white;

  opacity: 1;
}


.button-container{
  height: 50vmin;

  width: 50vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 8px 8px 20px var(--darkShadow), -8px -8px 20px white;
  position: relative;
}
.button-container:after{
  content: "";
  position: absolute;
  z-index: 1;
  width: 70%;
  height: 70%;
  background-color: rgb(241, 241, 241);
  box-shadow: inset 4px 4px 5px var(--darkShadow),inset -8px -8px 20px white;
  border-radius: 50%;
 
}
.button-container .button{
  background: rgb(20,130,235);
background: radial-gradient(circle, rgb(0, 132, 255) 0%, rgb(24, 30, 34) 90%);
  width: 45%;
  height: 45%;
  z-index: 9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 8px 8px 20px rgba(255, 255, 255, 0.2), inset -8px -8px 10px var(--darkShadow);
  cursor: pointer;
}
.button-container .button.beep{
  background: radial-gradient(50% 50% at 50% 50%, #C5F2FF 21.88%, #32D1FF 52.6%, rgb(24, 30, 34) 100%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25), 0px 0px 15px rgba(0, 240, 255, 0.5);
  color:rgb(24, 30, 34)!important;
}
.button-container .button-text{
  position: relative;
  z-index: 10;
  color:rgb(24, 30, 34)!important;
}

/* ================================================ */
/* Page Mods */
/* ================================================ */
#mods{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: auto;
}
#mods form{
  margin-top: -20px;
  border-radius: 20px;
  padding: 20px 10px;
  background-color: #ECECEC;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 80%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#mods form input{
  text-align: center;
  font-size: .8rem;
  font-weight: 500;
  padding: 5px;
  border: none;
  box-shadow: none;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
  width: 30px;
  border-radius: 5px;
}
#mods form label{

  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  color: var(--darkBlue);
  opacity: .8;
}

#mods form .button{
  background: none;
  width: 25px;
  height: 25px;
  color: var(--lightBlue);
  font-weight: 500;
}
#mods form .button{
  position: relative;
  top: -5px;
  font-size: 2rem;
  opacity: .8;
  cursor: pointer;
  border: none;
}
.mods-beeper-indicator{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .15), -5px -5px 15px white;
  background-color: #ECECEC;
}
.mods-beeper-indicator:after{
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background-color: #ececec;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.3), inset 2px 2px 4px var(--darkShadow);
  margin: auto auto;
}
.mods-beeper-indicator .mods-led{
  position: relative;
  z-index: 10;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #32D1FF 0%, #4BA9FF 35.42%, #001338 100%);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5), 0px 3px 2px #FFFFFF;
}
.mods-beeper-indicator .mods-led.beep{
  background: radial-gradient(50% 50% at 50% 50%, #E9FAFF 28.12%, #32D1FF 71.35%, #001338 100%);
}
.option-container{
  margin: 20px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*=================*/
.list-container {
  width: 100%;
  height: 80vh;
  box-sizing: content-box;
  overflow: scroll;
  overflow-x: hidden;
  
  
}
.list-container .mods-segment{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  margin: 20px auto;
  height: 50px;
  width: 80%;
  transition: .5s ease-in-out;
  color: rgba(11, 34, 60, 0.8);

}
.list-container .mods-segment:hover{
  background-color: #c0c0c0;
}

.list-container .segment-mesures{

}
.list-container .segment-mesures span{
  font-weight: bold!important;
  color: var(--blue);
}
.list-container .segment-delete{
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .15), -5px -5px 15px white;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.list-container .segment-delete:active{
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, .15),inset -5px -5px 15px white;
}

.mods-buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 0 25px;
}
.mod-button{
  background-color: #ececec;
  width: 30vmin;
  max-width: 135px;
  height: 20vmin;
  max-height: 90px;
  border-radius: 20px 20px 0 0 ;
  border: 1px solid var(--blue);
  position: relative;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.play-button{

}
.save-button{}

.mods-save-overlay-container{
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, .9);
  top: -5px;
  left: 0;
  width: 100%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in;
  opacity: 0;
}
.save-form-container{
  height: 150px;
  border-radius: 15px;
  padding: 30px 10px;
  border: 1px solid var(--blue);
  width: 90%;
  background-color: #ececec;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#mods #inner-save-title-input{
  border: none;
  border-bottom: 2px solid var(--lightBlue);
  width: 80%;
  background-color: transparent;
  padding: 0 10px 5px 10px;
  font-size: 1rem;
  color: var(--darkShadow);
}
.inner-save-button{
  display: block;
  width: 90%;
  padding: 5px 10px;
  background-color: var(--blue);
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50px;
  color: #ececec;
}